= title "Admin Dashboard"

%h1 Admin Dashboard

%table.zebra.w33
    %th Project
    %td #{Project.count}
  %tr
    %th Project Categories
    %td #{ProjectCategory.count}
  %tr
    %th Contacts
    %td #{Contact.count}