/* line 7, ../../app/stylesheets/admin.sass */
ul.admin_menu {
  float: left;
  margin-left: 0;
}
/* line 13, ../../app/stylesheets/admin.sass */
ul.admin_menu li {
  font-size: 18px;
  float: left;
  list-style-type: none;
  margin: 3px 16px 3px 0px;
  padding: 3px 4px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
}
/* line 29, ../../app/stylesheets/admin.sass */
ul.admin_menu li:hover, ul.admin_menu li.selected {
  background: #ffde01;
}

/* line 35, ../../app/stylesheets/admin.sass */
.container table {
  width: 100%;
}

/* line 41, ../../app/stylesheets/admin.sass */
.container table {
  border: 2px solid #dddddd;
}
/* line 45, ../../app/stylesheets/admin.sass */
.container table tr th {
  background: #dddddd;
  color: black;
  font-weight: bold;
  font-size: 16px;
}
/* line 55, ../../app/stylesheets/admin.sass */
.container table tr th, .container table tr td {
  padding: 3px 4px;
}

/* line 63, ../../app/stylesheets/admin.sass */
ul.admin_actions {
  float: right;
}
/* line 67, ../../app/stylesheets/admin.sass */
ul.admin_actions li {
  float: left;
  font-size: 12px;
  list-style-type: none;
  padding: 3px 8px 3px 0px;
}

/* line 79, ../../app/stylesheets/admin.sass */
.notes {
  padding-bottom: 16px;
}
/* line 83, ../../app/stylesheets/admin.sass */
.notes .note {
  margin-bottom: 6px;
  border-bottom: 1px solid #ececec;
  border-top: 1px solid #ececec;
}
/* line 91, ../../app/stylesheets/admin.sass */
.notes .note .note_date {
  float: left;
  width: 24%;
  padding-right: 1%;
  font-size: 12px;
}
/* line 101, ../../app/stylesheets/admin.sass */
.notes .note .note_date .date {
  font-weight: bold;
}
/* line 105, ../../app/stylesheets/admin.sass */
.notes .note .message {
  float: left;
  width: 64%;
}
/* line 111, ../../app/stylesheets/admin.sass */
.notes .note .controls {
  float: left;
  width: 10%;
}

/* line 119, ../../app/stylesheets/admin.sass */
.expenses {
  padding-bottom: 16px;
}
/* line 123, ../../app/stylesheets/admin.sass */
.expenses .expense {
  margin-bottom: 6px;
  border-bottom: 1px solid #ececec;
  border-top: 1px solid #ececec;
}
/* line 131, ../../app/stylesheets/admin.sass */
.expenses .expense .expense_date {
  float: left;
  width: 24%;
  padding-right: 1%;
  font-size: 12px;
}
/* line 141, ../../app/stylesheets/admin.sass */
.expenses .expense .expense_date .date {
  font-weight: bold;
}
/* line 145, ../../app/stylesheets/admin.sass */
.expenses .expense .message {
  float: left;
  width: 54%;
}
/* line 151, ../../app/stylesheets/admin.sass */
.expenses .expense .controls {
  float: left;
  width: 10%;
}
/* line 157, ../../app/stylesheets/admin.sass */
.expenses .expense .amount {
  float: left;
  width: 10%;
}
/* line 163, ../../app/stylesheets/admin.sass */
.expenses .expense .amount_total {
  margin-left: 25%;
}

/* line 169, ../../app/stylesheets/admin.sass */
.own_hours {
  padding-bottom: 16px;
}
/* line 173, ../../app/stylesheets/admin.sass */
.own_hours .own_hour {
  margin-bottom: 6px;
  border-bottom: 1px solid #ececec;
  border-top: 1px solid #ececec;
}
/* line 181, ../../app/stylesheets/admin.sass */
.own_hours .own_hour .own_hour_date {
  float: left;
  width: 24%;
  padding-right: 1%;
  font-size: 12px;
}
/* line 191, ../../app/stylesheets/admin.sass */
.own_hours .own_hour .own_hour_date .date {
  font-weight: bold;
}
/* line 195, ../../app/stylesheets/admin.sass */
.own_hours .own_hour .controls {
  float: left;
  width: 10%;
}
/* line 201, ../../app/stylesheets/admin.sass */
.own_hours .own_hour .hours_count {
  float: left;
  width: 24%;
}
/* line 207, ../../app/stylesheets/admin.sass */
.own_hours .own_hour .description {
  float: left;
  width: 40%;
}
/* line 213, ../../app/stylesheets/admin.sass */
.own_hours .own_hour .hours_count_total {
  margin-left: 25%;
}

/* line 219, ../../app/stylesheets/admin.sass */
.staff {
  padding-bottom: 16px;
}
/* line 223, ../../app/stylesheets/admin.sass */
.staff .person {
  margin-bottom: 6px;
  border-bottom: 1px solid #ececec;
  border-top: 1px solid #ececec;
}
/* line 231, ../../app/stylesheets/admin.sass */
.staff .person .person_date {
  float: left;
  width: 24%;
  padding-right: 1%;
  font-size: 12px;
}
/* line 241, ../../app/stylesheets/admin.sass */
.staff .person .person_date .date {
  font-weight: bold;
}
/* line 245, ../../app/stylesheets/admin.sass */
.staff .person .person_name {
  float: left;
  width: 19%;
}
/* line 251, ../../app/stylesheets/admin.sass */
.staff .person .person_description {
  float: left;
  width: 23%;
}
/* line 257, ../../app/stylesheets/admin.sass */
.staff .person .controls {
  float: left;
  width: 5%;
}
/* line 263, ../../app/stylesheets/admin.sass */
.staff .person .hours_count {
  float: left;
  width: 6%;
}
/* line 269, ../../app/stylesheets/admin.sass */
.staff .person .amount {
  float: left;
  width: 10%;
}
/* line 275, ../../app/stylesheets/admin.sass */
.staff .person .hourly_rate {
  float: left;
  width: 15%;
}
/* line 281, ../../app/stylesheets/admin.sass */
.staff .person .hours_total {
  margin-left: 24%;
  width: 15%;
}

/* line 289, ../../app/stylesheets/admin.sass */
.add {
  font-size: 1.4em;
  font-weight: bold;
  margin-top: 16px;
  margin-right: 36px;
  padding: 3px;
  background: #ffff34;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
}

/* line 309, ../../app/stylesheets/admin.sass */
span.info {
  display: inline-block;
  margin-top: 3px;
  margin-bottom: 3px;
  font-size: 10px;
  padding: 1px;
  background: #aaaaaa;
  color: white;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

/* line 333, ../../app/stylesheets/admin.sass */
table.projects tr td, table.projects tr th {
  padding: 6px 4px;
}

/* line 339, ../../app/stylesheets/admin.sass */
.summary {
  background: #ececec;
  font-style: italic;
}

/* line 347, ../../app/stylesheets/admin.sass */
.project_status {
  padding: 2px 4px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
}
/* line 355, ../../app/stylesheets/admin.sass */
.project_status.red {
  background: red;
  color: white;
}
/* line 361, ../../app/stylesheets/admin.sass */
.project_status.green {
  background: green;
  color: white;
}
/* line 367, ../../app/stylesheets/admin.sass */
.project_status.yellow {
  background: yellow;
  color: black;
}

/* line 375, ../../app/stylesheets/admin.sass */
#chart_div {
  -moz-border-radius: 10px 10px 10px 10px;
  border: 2px solid white;
  margin: 0px auto auto;
}

/* line 385, ../../app/stylesheets/admin.sass */
table.table_layout {
  padding: 0;
  margin: 0;
  border: 0;
  overflow: hidden;
}
/* line 395, ../../app/stylesheets/admin.sass */
table.table_layout tr td {
  vertical-align: top;
}
