/* line 1, ../../app/stylesheets/grid.sass */
.w30 {
  width: 30%;
}

/* line 4, ../../app/stylesheets/grid.sass */
.w33 {
  width: 33%;
}

/* line 7, ../../app/stylesheets/grid.sass */
.w50 {
  width: 50%;
}

/* line 10, ../../app/stylesheets/grid.sass */
.w25 {
  width: 25%;
}

/* line 13, ../../app/stylesheets/grid.sass */
.ml1 {
  margin-left: 1%;
}

/* line 16, ../../app/stylesheets/grid.sass */
.mr1 {
  margin-right: 1%;
}

/* line 19, ../../app/stylesheets/grid.sass */
.mrl1 {
  margin: 0 1%;
}

/* line 22, ../../app/stylesheets/grid.sass */
.ml2 {
  margin-left: 2%;
}

/* line 25, ../../app/stylesheets/grid.sass */
.mr2 {
  margin-right: 2%;
}

/* line 28, ../../app/stylesheets/grid.sass */
.mrl2 {
  margin: 0 2%;
}

/* line 31, ../../app/stylesheets/grid.sass */
.ml3 {
  margin-left: 3%;
}

/* line 34, ../../app/stylesheets/grid.sass */
.mr3 {
  margin-right: 3%;
}

/* line 37, ../../app/stylesheets/grid.sass */
.mrl3 {
  margin: 0 3%;
}
