/*
Syntax error: Undefined mixin 'global-reset'.
        on line 3 of /root/work/railsjazz.com/app/stylesheets/grid.sass, in `global-reset'
        from line 3 of /root/work/railsjazz.com/app/stylesheets/grid.sass
        from line 1 of /root/work/railsjazz.com/app/stylesheets/layout.sass

1: @import "grid"
2: @import "text"
3: 
4: .column1_1
5:   +grid(16)
6:   +alpha
7:   +omega
8: 

Backtrace:
/root/work/railsjazz.com/app/stylesheets/grid.sass:3:in `global-reset'
/root/work/railsjazz.com/app/stylesheets/grid.sass:3
/root/work/railsjazz.com/app/stylesheets/layout.sass:1
/opt/ruby-enterprise-1.8.7-2010.01/lib/ruby/gems/1.8/gems/haml-3.0.18/lib/sass/tree/mixin_node.rb:74:in `perform!'
/opt/ruby-enterprise-1.8.7-2010.01/lib/ruby/gems/1.8/gems/haml-3.0.18/lib/sass/tree/node.rb:305:in `_perform'
/opt/ruby-enterprise-1.8.7-2010.01/lib/ruby/gems/1.8/gems/haml-3.0.18/lib/sass/tree/node.rb:213:in `perform'
/opt/ruby-enterprise-1.8.7-2010.01/lib/ruby/gems/1.8/gems/haml-3.0.18/lib/sass/tree/node.rb:326:in `perform_children'
/opt/ruby-enterprise-1.8.7-2010.01/lib/ruby/gems/1.8/gems/haml-3.0.18/lib/sass/tree/node.rb:326:in `map'
/opt/ruby-enterprise-1.8.7-2010.01/lib/ruby/gems/1.8/gems/haml-3.0.18/lib/sass/tree/node.rb:326:in `perform_children'
/opt/ruby-enterprise-1.8.7-2010.01/lib/ruby/gems/1.8/gems/haml-3.0.18/lib/sass/tree/import_node.rb:78:in `perform!'
/opt/ruby-enterprise-1.8.7-2010.01/lib/ruby/gems/1.8/gems/haml-3.0.18/lib/sass/tree/node.rb:305:in `_perform'
/opt/ruby-enterprise-1.8.7-2010.01/lib/ruby/gems/1.8/gems/haml-3.0.18/lib/sass/tree/import_node.rb:64:in `_perform'
/opt/ruby-enterprise-1.8.7-2010.01/lib/ruby/gems/1.8/gems/haml-3.0.18/lib/sass/tree/node.rb:213:in `perform'
/opt/ruby-enterprise-1.8.7-2010.01/lib/ruby/gems/1.8/gems/haml-3.0.18/lib/sass/tree/root_node.rb:37:in `perform'
/opt/ruby-enterprise-1.8.7-2010.01/lib/ruby/gems/1.8/gems/haml-3.0.18/lib/sass/tree/node.rb:326:in `perform_children'
/opt/ruby-enterprise-1.8.7-2010.01/lib/ruby/gems/1.8/gems/haml-3.0.18/lib/sass/tree/node.rb:326:in `map'
/opt/ruby-enterprise-1.8.7-2010.01/lib/ruby/gems/1.8/gems/haml-3.0.18/lib/sass/tree/node.rb:326:in `perform_children'
/opt/ruby-enterprise-1.8.7-2010.01/lib/ruby/gems/1.8/gems/haml-3.0.18/lib/sass/tree/node.rb:317:in `perform!'
/opt/ruby-enterprise-1.8.7-2010.01/lib/ruby/gems/1.8/gems/haml-3.0.18/lib/sass/tree/root_node.rb:59:in `perform!'
/opt/ruby-enterprise-1.8.7-2010.01/lib/ruby/gems/1.8/gems/haml-3.0.18/lib/sass/tree/node.rb:305:in `_perform'
/opt/ruby-enterprise-1.8.7-2010.01/lib/ruby/gems/1.8/gems/haml-3.0.18/lib/sass/tree/node.rb:213:in `perform'
/opt/ruby-enterprise-1.8.7-2010.01/lib/ruby/gems/1.8/gems/haml-3.0.18/lib/sass/tree/root_node.rb:37:in `perform'
/opt/ruby-enterprise-1.8.7-2010.01/lib/ruby/gems/1.8/gems/haml-3.0.18/lib/sass/tree/root_node.rb:29:in `render'
/opt/ruby-enterprise-1.8.7-2010.01/lib/ruby/gems/1.8/gems/haml-3.0.18/lib/sass/plugin.rb:220:in `update_stylesheet'
/opt/ruby-enterprise-1.8.7-2010.01/lib/ruby/gems/1.8/gems/haml-3.0.18/lib/sass/plugin.rb:85:in `update_stylesheets'
/opt/ruby-enterprise-1.8.7-2010.01/lib/ruby/gems/1.8/gems/haml-3.0.18/lib/sass/plugin.rb:78:in `each'
/opt/ruby-enterprise-1.8.7-2010.01/lib/ruby/gems/1.8/gems/haml-3.0.18/lib/sass/plugin.rb:78:in `update_stylesheets'
/opt/ruby-enterprise-1.8.7-2010.01/lib/ruby/gems/1.8/gems/haml-3.0.18/lib/sass/plugin.rb:76:in `each'
/opt/ruby-enterprise-1.8.7-2010.01/lib/ruby/gems/1.8/gems/haml-3.0.18/lib/sass/plugin.rb:76:in `update_stylesheets'
/opt/ruby-enterprise-1.8.7-2010.01/lib/ruby/gems/1.8/gems/haml-3.0.18/lib/sass/plugin.rb:50:in `check_for_updates'
/opt/ruby-enterprise-1.8.7-2010.01/lib/ruby/gems/1.8/gems/haml-3.0.18/lib/sass/plugin/rack.rb:40:in `call'
/opt/ruby-enterprise-1.8.7-2010.01/lib/ruby/gems/1.8/gems/actionpack-3.0.0/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
/opt/ruby-enterprise-1.8.7-2010.01/lib/ruby/gems/1.8/gems/actionpack-3.0.0/lib/action_dispatch/middleware/head.rb:14:in `call'
/opt/ruby-enterprise-1.8.7-2010.01/lib/ruby/gems/1.8/gems/rack-1.2.1/lib/rack/methodoverride.rb:24:in `call'
/opt/ruby-enterprise-1.8.7-2010.01/lib/ruby/gems/1.8/gems/actionpack-3.0.0/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/opt/ruby-enterprise-1.8.7-2010.01/lib/ruby/gems/1.8/gems/actionpack-3.0.0/lib/action_dispatch/middleware/flash.rb:182:in `call'
/opt/ruby-enterprise-1.8.7-2010.01/lib/ruby/gems/1.8/gems/actionpack-3.0.0/lib/action_dispatch/middleware/session/abstract_store.rb:149:in `call'
/opt/ruby-enterprise-1.8.7-2010.01/lib/ruby/gems/1.8/gems/actionpack-3.0.0/lib/action_dispatch/middleware/cookies.rb:287:in `call'
/opt/ruby-enterprise-1.8.7-2010.01/lib/ruby/gems/1.8/gems/activerecord-3.0.0/lib/active_record/query_cache.rb:32:in `call'
/opt/ruby-enterprise-1.8.7-2010.01/lib/ruby/gems/1.8/gems/activerecord-3.0.0/lib/active_record/connection_adapters/abstract/query_cache.rb:28:in `cache'
/opt/ruby-enterprise-1.8.7-2010.01/lib/ruby/gems/1.8/gems/activerecord-3.0.0/lib/active_record/query_cache.rb:12:in `cache'
/opt/ruby-enterprise-1.8.7-2010.01/lib/ruby/gems/1.8/gems/activerecord-3.0.0/lib/active_record/query_cache.rb:31:in `call'
/opt/ruby-enterprise-1.8.7-2010.01/lib/ruby/gems/1.8/gems/activerecord-3.0.0/lib/active_record/connection_adapters/abstract/connection_pool.rb:355:in `call'
/opt/ruby-enterprise-1.8.7-2010.01/lib/ruby/gems/1.8/gems/actionpack-3.0.0/lib/action_dispatch/middleware/callbacks.rb:46:in `call'
/opt/ruby-enterprise-1.8.7-2010.01/lib/ruby/gems/1.8/gems/activesupport-3.0.0/lib/active_support/callbacks.rb:415:in `_run_call_callbacks'
/opt/ruby-enterprise-1.8.7-2010.01/lib/ruby/gems/1.8/gems/actionpack-3.0.0/lib/action_dispatch/middleware/callbacks.rb:44:in `call'
/opt/ruby-enterprise-1.8.7-2010.01/lib/ruby/gems/1.8/gems/rack-1.2.1/lib/rack/sendfile.rb:107:in `call'
/opt/ruby-enterprise-1.8.7-2010.01/lib/ruby/gems/1.8/gems/actionpack-3.0.0/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
/opt/ruby-enterprise-1.8.7-2010.01/lib/ruby/gems/1.8/gems/actionpack-3.0.0/lib/action_dispatch/middleware/show_exceptions.rb:46:in `call'
/opt/ruby-enterprise-1.8.7-2010.01/lib/ruby/gems/1.8/gems/railties-3.0.0/lib/rails/rack/logger.rb:13:in `call'
/opt/ruby-enterprise-1.8.7-2010.01/lib/ruby/gems/1.8/gems/rack-1.2.1/lib/rack/runtime.rb:17:in `call'
/opt/ruby-enterprise-1.8.7-2010.01/lib/ruby/gems/1.8/gems/activesupport-3.0.0/lib/active_support/cache/strategy/local_cache.rb:72:in `call'
/opt/ruby-enterprise-1.8.7-2010.01/lib/ruby/gems/1.8/gems/rack-1.2.1/lib/rack/lock.rb:11:in `call'
/opt/ruby-enterprise-1.8.7-2010.01/lib/ruby/gems/1.8/gems/rack-1.2.1/lib/rack/lock.rb:11:in `synchronize'
/opt/ruby-enterprise-1.8.7-2010.01/lib/ruby/gems/1.8/gems/rack-1.2.1/lib/rack/lock.rb:11:in `call'
/opt/ruby-enterprise-1.8.7-2010.01/lib/ruby/gems/1.8/gems/actionpack-3.0.0/lib/action_dispatch/middleware/static.rb:30:in `call'
/opt/ruby-enterprise-1.8.7-2010.01/lib/ruby/gems/1.8/gems/railties-3.0.0/lib/rails/application.rb:168:in `call'
/opt/ruby-enterprise-1.8.7-2010.01/lib/ruby/gems/1.8/gems/railties-3.0.0/lib/rails/application.rb:77:in `send'
/opt/ruby-enterprise-1.8.7-2010.01/lib/ruby/gems/1.8/gems/railties-3.0.0/lib/rails/application.rb:77:in `method_missing'
/opt/ruby-enterprise-1.8.7-2010.01/lib/ruby/gems/1.8/gems/railties-3.0.0/lib/rails/rack/log_tailer.rb:14:in `call'
/opt/ruby-enterprise-1.8.7-2010.01/lib/ruby/gems/1.8/gems/rack-1.2.1/lib/rack/content_length.rb:13:in `call'
/opt/ruby-enterprise-1.8.7-2010.01/lib/ruby/gems/1.8/gems/rack-1.2.1/lib/rack/handler/webrick.rb:52:in `service'
/opt/ruby-enterprise-1.8.7-2010.01/lib/ruby/1.8/webrick/httpserver.rb:104:in `service'
/opt/ruby-enterprise-1.8.7-2010.01/lib/ruby/1.8/webrick/httpserver.rb:65:in `run'
/opt/ruby-enterprise-1.8.7-2010.01/lib/ruby/1.8/webrick/server.rb:173:in `start_thread'
/opt/ruby-enterprise-1.8.7-2010.01/lib/ruby/1.8/webrick/server.rb:162:in `start'
/opt/ruby-enterprise-1.8.7-2010.01/lib/ruby/1.8/webrick/server.rb:162:in `start_thread'
/opt/ruby-enterprise-1.8.7-2010.01/lib/ruby/1.8/webrick/server.rb:95:in `start'
/opt/ruby-enterprise-1.8.7-2010.01/lib/ruby/1.8/webrick/server.rb:92:in `each'
/opt/ruby-enterprise-1.8.7-2010.01/lib/ruby/1.8/webrick/server.rb:92:in `start'
/opt/ruby-enterprise-1.8.7-2010.01/lib/ruby/1.8/webrick/server.rb:23:in `start'
/opt/ruby-enterprise-1.8.7-2010.01/lib/ruby/1.8/webrick/server.rb:82:in `start'
/opt/ruby-enterprise-1.8.7-2010.01/lib/ruby/gems/1.8/gems/rack-1.2.1/lib/rack/handler/webrick.rb:13:in `run'
/opt/ruby-enterprise-1.8.7-2010.01/lib/ruby/gems/1.8/gems/rack-1.2.1/lib/rack/server.rb:213:in `start'
/opt/ruby-enterprise-1.8.7-2010.01/lib/ruby/gems/1.8/gems/railties-3.0.0/lib/rails/commands/server.rb:65:in `start'
/opt/ruby-enterprise-1.8.7-2010.01/lib/ruby/gems/1.8/gems/railties-3.0.0/lib/rails/commands.rb:30
/opt/ruby-enterprise-1.8.7-2010.01/lib/ruby/gems/1.8/gems/railties-3.0.0/lib/rails/commands.rb:27:in `tap'
/opt/ruby-enterprise-1.8.7-2010.01/lib/ruby/gems/1.8/gems/railties-3.0.0/lib/rails/commands.rb:27
script/rails:6:in `require'
script/rails:6
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'global-reset'.\A         on line 3 of /root/work/railsjazz.com/app/stylesheets/grid.sass, in `global-reset'\A         from line 3 of /root/work/railsjazz.com/app/stylesheets/grid.sass\A         from line 1 of /root/work/railsjazz.com/app/stylesheets/layout.sass\A \A 1: @import \"grid\"\A 2: @import \"text\"\A 3: \A 4: .column1_1\A 5:   +grid(16)\A 6:   +alpha\A 7:   +omega\A 8: "; }
