#header.container
  %h1
    = link_to "RailsJazz.com", '/'
  %h2 ...sound like a sweet solution
  %ul#nav
    %li
      = link_to 'Blog', page_path('blog')
      |
    %li
      = link_to 'Contact', page_path('contact')
  .clear