<!--
Skype 'My status' button
http://www.skype.com/go/skypebuttons
-->
<script type="text/javascript" src="http://download.skype.com/share/skypebuttons/js/skypeCheck.js"></script>
<a href="skype:igorkasyanchuk?call"><img src="http://mystatus.skype.com/balloon/igorkasyanchuk" style="border: none;" width="150" height="60" alt="My status" /></a>