= title "About us"
= description "About us, about railsjazz.com"
= keywords "About us, about railsjazz.com"

.page_container.box_top
#about_page.box_middle
  .page_block
    %h1 About us
    %p We are team of ....
    %p The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
.page_container.box_bottom