#top
  %h1 RailsJazz.com
  %h2 ... sound like a good solution
#bottom
  %strong 
    Ruby, Ruby on Rails development 
    %br
    for startups and other business apps
  %ul
    %li Ruby
    %li Rails
    %li Sinatra
    %li HTML/JS/CSS
    %li jQuery
    %li Google Map
    %li HAML/SASS
    %li Thinking Sphinx
    %li SEO
    %li Great Ideas :)
  %p
    = link_to (image_tag 'logov3-hover.png'), 'http://github.com/igorkasyanchuk'
  %p
    = link_to (image_tag 'logo_82x23.png'), 'http://www.linkedin.com/in/igorkasyanchuk'
  %p
    = link_to (image_tag '1284799551_Mail.png'), 'mailto:hi@railsjazz.com'
  %p  
    = link_to (image_tag '1284801104_skype.png'), 'skype:igorkasyanchuk?chat'