%p
  = link_to (image_tag 'logov3-hover.png'), 'http://github.com/igorkasyanchuk'
%p
  = link_to (image_tag 'logo_82x23.png'), 'http://www.linkedin.com/in/igorkasyanchuk'
%p
  = link_to (image_tag '1284799551_Mail.png'), 'mailto:hi@railsjazz.com'
%p  
  = link_to (image_tag '1284801104_skype.png'), 'skype:igorkasyanchuk?chat'
