= title "You message sent successfully."
= description "You message sent successfully."

.page_container.box_top
.page.box_middle{:style => 'min-height: 70px;'}
  .page_block
    %h1 You message sent successfully. Soon we will contact you.
.page_container.box_bottom